button {
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  list-style: none outside none;
  text-decoration: none;
}

#container {
  max-width: var(--container-width);
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;

  overflow: hidden;

  user-select: none;
}